html,body {
  height: 100%;
  width: 100%;
  place-items: center;
  background: #87CEEB;
  display: grid;
}

footer {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: black;
}

div {
    margin: 15px;
}

label {
    color: #ff9900;
    padding-right: 0px;
    width: 150px;
    text-align: left;
}

a {
    text-decoration: none;
}

.menu {
    border: solid 2px green;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;

}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
  text-align: center;
}

th {
  background-color: rgb(235,235,235);
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}


.label-dash {
    text-align: center;
    width: 100%;
    color: blue;
    background-color: yellow;
}

.salary {
    display: grid;
    width: 200px;
    border: 1px solid red;

}

.div-for-form {
    background-color: black;
    widht: 300px;
    height: 100%;
    border: solid #ff9900;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}


.form-for-reg {
    display: grid;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.navbar {
    width: 100%;
}
