{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Посчитать и добавить</title>

</head>
<body>
{% block content %}
<h1>Вы вошли как {{ email }}</h1>

<form action="" method="post">
    <label for="hours">Количество часов:</label>
    <input type="number" id="hours" name="hours" min="1" max="12" value="9">
    <label for="positions">Количество позиций:</label>
    <input type="number" name="positions" id="positions" min="1" value="1">
    <label for="mens">Количество человек:</label>
    <input type="number" name="mens" id="mens" min="1" value="3">
    <input type="date" name="date" value="{{ cur_date }}" min="2018-01-01" max="{{ cur_date }}"/>
    <input type="submit" value="Добавить">
</form>
<table>
<tr><td><form method="post">
    <input type="submit" name="get_salary" value="Показать">
</form></td>
<td><form method="post">
    <input type="submit" name="get_week" value="Эта неделя">
</form></td>
<td><form method="post">
    <input type="submit" name="get_month" value="Этот месяц">
</form></td>
</tr>
</table>
<table>
    {% if sal_data %}
    <tr>
        <th>Дата</th>
        <th>Часы</th>
        <th>Позиции</th>
        <th>Сумма</th>
    </tr>
    {% for i in sal_data %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[2] }}</td>
    </tr>

    {% endfor %}
    <tr>
        <th>Всего</th>
        <td>{{ sum[0][1] }}</td>
        <td>{{ sum[0][2] }}</td>
        <td>{{ sum[0][0] }} руб</td>
    </tr>

    {% endif %}
</table>
{% if sal_today %}
{{sal_today}}
{% endif %}
{% endblock content %}
</body>
</html>