<!doctype html>
<html lang="en-US">
  <head>
    <link href="static/css/dash2.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My test page</title>
  </head>
  <body>
    <h1>Новости центрального склада</h1>
    <img src="static/images/enkor.jpg" alt="Магазин Энкор на Текстильщиков 2Д: стена, на которой нарисован рабочий, который как бы пробивает эту стену буром" />
    <p>Игорь Алёхин уволился из Энкора.</p>
    <ul>
      <li>Жаль</li>
      <li>Бывает</li>
      <li>Давно пора</li>
    </ul>
    <div class="box"></div>

    <a href="{{ url_for('index') }}">Главная страница</a>
    <button>Change user</button>
  <script src="static/js/main.js"></script>
  </body>
</html>