{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<body>
{% block content %}
    <h1>Посчитай зарплату за сегодня</h1>
<div>
    <form method="post">
        <label for="hours">Количество часов:</label>
        <input type="number" id="hours" name="hours" min="1" max="12" value="9">
        <label for="positions">Количество позиций:</label>
        <input type="number" name="positions" id="positions" min="1" value="1">
        <label for="mens">Количество человек:</label>
        <input type="number" name="mens" id="mens" min="1" value="3">
        <input type="date" name="date" min="2018-01-01"/>
        <input type="submit" value="Посчитать">
    </form>
</div>
<a href="#">Ссылка</a>
<div>
    {% if res %}
    {{ date }} {{ res }} руб.
    {% endif %}
</div>
{% endblock content %}
</body>
</html>