{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<body>
{% block content %}
    <h1 class="lk-text">Вход в личный кабинет</h1>
    <h3>{{ msg }}</h3>
<div class="login-form">
    <form method="post">
        <label for="email">Электронная почта:</label>
        <input class="input-login" type="text" name="email" id="email" placeholder="Введите почту">
        <label for="password">Пароль:</label>
        <input class="input-login" type="text" name="password" id="password" placeholder="Введите пароль">
        <input class="button-login" type="submit" value="Войти">
    </form>
</div>
    <a href="{{ url_for('register') }}">Зарегистрироваться</a>
{% endblock content %}
</body>
</html>