{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<body>
{% block content %}
    <h1>Личный кабинет</h1>
    <h3>{{ msg }}</h3>
    <form method="post">
        <label for="email">Электронная почта:</label>
        <input type="text" name="email" id="email" placeholder="Введите почту">
        <label for="password">Пароль:</label>
        <input type="text" name="password" id="password" placeholder="пароль">
        <input type="submit" value="Войти">
    </form>
    <a href="{{ url_for('register') }}">Зарегистрироваться</a>
{% endblock content %}
</body>
</html>