{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
    <h1>Регистрация</h1>
<div class="div-for-form">
        <form class="form-for-reg" method="post">
        <label for="email">Электронная почта</label>
        <input id="email" type="email" name="email" placeholder="Введите электронную почту">
        <label for="password">Пароль</label>
        <input id="password" type="password" name="password" placeholder="Введите пароль">
        <label for="replay_password">Повторите пароль</label>
        <input id="replay_password" type="password" name="replay_password" placeholder="Повторите пароль">
        <label for="username">Имя</label>
        <input id="username" type="text" name="username" placeholder="Введите своё имя">
        <label for="job_title">Должность</label>
      <select id="job_title" name="job_title" required>
        <option disabled>Выберите должность</option>
        <option value="Упаковщик">Упаковщик</option>
        <option value="Пом.кладовщика">Пом.кладовщика</option>
        <option value="Кладовщик">Кладовщик</option>
      </select>
        <label for="workplace">Отдел</label>
      <select id="workplace" name="workplace" required>
        <option disabled>Выберите отдел</option>
        <option value="1 отдел">1 отдел</option>
        <option value="3 отдел">3 отдел</option>
        <option value="Упаковка">Упаковка</option>
        <option value="Магазины">Магазины</option>
      </select>
      <div>
        <input type="submit" value="Зарегистрироваться">
      </div>
        </form>
</div>
    <h3>{{ msg }}</h3>
{% endblock %}
</body>
</html>