<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Регистрация</h1>

        <form method="post">
        <label for="email">Электронная почта</label>
        <input id="email" type="email" name="email" placeholder="Введите электронную почту">
        <label for="password">Пароль</label>
        <input id="password" type="password" name="password" placeholder="Введите пароль">
        <label for="replay_password">Повторите пароль</label>
        <input id="replay_password" type="password" name="replay_password" placeholder="Введите пароль">
        <input type="submit" value="Зарегистрироваться">
        </form>
    <h3>{{ msg }}</h3>

</body>
</html>