<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post">
        <label for="username">Имя пользователя</label>
        <input id="username" type="text" name="username">
        <label for="password">Пароль</label>
        <input id="password" type="password" name="password">
        <label for="email">Электронная почта</label>
        <input id="email" type="email" name="email">
        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>